.navbar{
    display: grid;
    height: 10vh;
    grid-template-columns: 1fr 1fr;
}

.text{
    display:flex;
    align-items: flex-end;
    border-bottom: 1px black solid;
    margin: 10%;
    font-weight: 600;
}

.nav{
    display: flex;
    align-items: center;
    padding: 0 0 0 40%;
    justify-content: space-around;
    font-weight: 200;
}
.image{
    height:55vh;
}
image{
    display: inline-block;
    height:inherit;
    width: 65vw;
}
.control{
    padding-top: 30px;
    height:calc(20vh - 30px);
    width:100%;
}

#progress{
    width: 80%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.full{
    height:100%;
}
.play-button{
    background: inherit;
    padding: 0;
    width: 10%;
    height:70%;
}

button::after{
    border: none;
}
.function{
    width: 100vw;
    height:15vh;
    display:grid;
    grid-template-columns: 50vw 50vw;
}
.func-pic{
    height:30%;
}
.func-border{
    border-left: 1px grey solid;
    border-top: 1px grey solid;
}