.control{
    height: 15vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-flow: row;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
}
.btn{
    border: 0.5px black solid;
    transition: 0.5s;
}
.full:after{content:'';display:block;padding-top:calc(100%);}
.double:after{content:'';display:block;padding-top:calc(200% - 2px);}
.half:after{content:'';display:block;padding-top:calc(50% - 0.5px);}
.top{
    border-top: 1px black solid;
}
.bottom{
    border-bottom: 1px black solid;
}
.collection{
    background: inherit;
    width: 80px;
    outline: none;
}
.collection::after{
    border: 0!important;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.black{
    background-color: black;
    color: white;
    height: 30px;
    width:70px;
}
.relative{
    position: relative;
}
.down{
    position: absolute;
    right : 0;
    height: 21px;
    width: 21px;
}
.hoverKey{
    background-color: black;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.8),
                4px 4px 3px rgba(0,0,0,0.4);
    transition: 0.1ms!important;
}
.musicList{
    position: absolute;
    width: inherit;
    bottom: 20px;
    left: 0,

}